*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a,a:hover,a:visited,a:link,a:active{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
}

body{
    background-color: #d4d4d4;
    #container{
        display: flex;
        height: 100vh;
    }
    #content{
        padding: 1rem;
        height: 100vh;
        flex: 1;
    }
}